
_*
!.gitignore
COYOTE_FUNCTIONS/
ASTROLIB_FUNCTIONS/
IDL_COYOTE/
IDL_ASTROLIB/
IDLASTRO/
*/OBSOLETE/*
*.log
hs_err*
!PALETTES/*

# Shapefile specific
!*.dbf
!*.prj
!*.sbn
!*.sbx
!*.shp
!*.shx
!*.xml
!*.cpg
!*.pdf
.*
_*
SHAPEFILES/**/PNGS/*
SHAPEFILES/**/ZIPS/*
SHAPEFILES/**/OUTLINES/*
*WCR*.SAV
*WCR*.sav
*GS1-*
*GS2-*
*GS4-*
*GS5-*
*GS9-*
*OUTLINE*
SHAPEFILES/**/*.png
SHAPEFILES/**/*.PNG
SHAPEFILES/SHAPES/NES_STOCKAREAS/NES-NES_STOCKAREAS.SAV
SHAPEFILES/SHAPES/NWA_BATHY_RANGE_10_6000/NWA-NWA_BATHY_RANGE_10_6000.SAV
*.zip
*.ZIP
IDLASTRO/IDLAstro/
TOPO/
MAPINFO/
MAPINFO/REPLACED_LONLATS
DAY_LENGTH/
FILES/LANDMASKS/MASK_LAND-L3B1-PXY_1_380187138.SAV
FILES/LANDMASKS/MASK_LAND-L3B2-PXY_1_95046858.SAV
FILES/LANDMASKS/MASK_LAND-L3B2-PXY_1_95046854.SAV
FILES/COASTLINE
new_zeal_wv2_sub.dat
SHAPES/WCR*
SHAPES/ICES_ECOREGIONS/*.SAV
LONLAT_SAVES/LONLAT-ICES_ECO*
FILES/CHL_PROFILES-MASTER.SAV
DOCUMENTATION/idl-decal-textbook.pdf
RESOURCES/FILES/LANDMASKS/MASK_LAND-L3B1-PXY_1_380187138.SAV

